/* RIA/egzamen
 *
 * /static/sass/styles.scss - Main stylesheet
 *
 * coded by Mucht - Mathieu Claessens
 * started at 23/01/2017
 */

@import "bourbon";

body {
}

h1 {
    width: 100%;
    padding: 300px 20px 20px 20px;
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 0.5em rgba(0,0,0,.4);
    background-image: url( "/assets/ironman.jpg" );
    background-position: center -20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
}
