/* RIA/egzamen
 *
 * /static/sass/styles.scss - Main stylesheet
 *
 * coded by Mucht - Mathieu Claessens
 * started at 23/01/2017
 */

@import "bourbon";

body {
}

h1 {
    font-size: 50px;
    text-align: center;
}

.box {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
}
